@page "/"

@using Conference.Data
@inject CitiesService CitiesService
@inject Blazored.SessionStorage.ISessionStorageService SessionStorage



<PageTitle>Index</PageTitle>

<h1>Hello!</h1>

Welcome to Airport. Choose your city:

<EditForm Model="@cityInfo" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <p>
        <label>
            <InputSelect id="from" @bind-Value="@cityInfo.cityId">
            @if (cities is not null) {
                @foreach (var city in cities)
                {
                    <option value="@city.Id">@city.Destination</option>
                }
            }
            </InputSelect>
        </label>
    </p>
    <button type="submit">Submit</button>
</EditForm>


@code
{
    private IReadOnlyList<City>? cities;

    private readonly CityInfo cityInfo = new CityInfo();

    protected override void OnInitialized()
    {
        cities = CitiesService.GetCities();
 
    }


    private void HandleValidSubmit(){
        SessionStorage.SetItemAsync("cityInfo", cityInfo);
    }

}

