@page "/tickets"
@using Conference.Data
@inject FlightsService FlightsService
@inject PlanesService PlanesService
@inject CitiesService CitiesService
@inject Blazored.SessionStorage.ISessionStorageService SessionStorage
<h3>Tickets</h3>


<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>From</th>
        <th>Start Time</th>
        <th>Destination</th>
        <th>Arrival Time</th>
        <th>PlaneId</th>
        <th>Company</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var arrival in FlightsService.GetTickets(userInfo.userId).OrderBy(a => a.StartTime))
    {
        <tr>
            <td>@arrival.Id</td>
            <td>@arrival.From</td>
            <td>@arrival.StartTime</td>
            <td>@arrival.Destination</td>
            <td>@arrival.ArrivalTime</td>
            <td>@arrival.Plane?.Id</td>
            <td>@arrival.Plane?.Company</td>
        </tr>
    }
    </tbody>
</table>

@code {
    private UserInfo userInfo = new UserInfo();
 
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
    {
        userInfo = await SessionStorage.GetItemAsync<UserInfo>("userInfo");
        
         StateHasChanged();
    }
    }

}
